<form>
	<style>
		.saved-configurations-window {
			display: flex;
			flex-direction: column;
		}
		.saved-configurations-window table {
			width: 100%;
			table-layout: auto;
			border-collapse: collapse;
		}
		.saved-configurations-window th,
		.saved-configurations-window td {
			border: 1px solid #6633cc;
			padding: 5px;
			text-align: left;
			vertical-align: middle;
		}
		.key {
			font-weight: bold;
		}
		.saved-configurations-window th {
			background-color: #8878a0;
			color: #fcfaff;
			font-weight: bold;
			position: sticky;
			top: -9px; /* Adjust to match the padding */
			z-index: 100;
		}
		.saved-configurations-window .config-list {
			display: grid;
			grid-template-columns: max-content max-content;
			grid-gap: 0;
			font-size: 0.9em;
			margin: 0;
			padding: 0;
			line-height: 1;
			align-items: center;
		}
		.saved-configurations-window .config-list dt {
			border: 1px solid #aa9bbf;
			font-weight: bold;
			grid-column: 1;
		}
		.saved-configurations-window .config-list dd {
			border: 1px solid #aa9bbf;
			margin: 1;
			margin-left: 0;
			grid-column: 2;
		}
		/* New styles */
		.delete-config {
			background-color: #6633cc;
			color: #fcfaff;
			border: none;
			padding: 5px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 14px;
			margin: 4px 2px;
			cursor: pointer;
			outline: none;
			transition: background-color 0.3s ease;
		}
		.delete-config:hover {
			background-color: #512b9d;
		}
		.saved-configurations-window tr:nth-child(even) {
			background-color: #ddbde2; /* This is a very light shade of lavender */
		}
	</style>
	<table>
		<thead>
			<tr>
				<th>{{localize "CONFIG.KEY"}}</th>
				<th>{{localize "CONFIG.CONFIGURATION"}}</th>
				<th>{{localize "CONFIG.DELETE"}}</th>
			</tr>
		</thead>
		<tbody>
			{{#each rpSavedConfigurations as |config key|}}
			<tr>
				<td class="key">{{key}}</td>
				<td>
					<strong>Default Naming Method: </strong>{{configLocalize
					config.rpNamingMethod}} {{#each config as |subConfig subKey|}}
					<br />
					{{#unless (eq subKey "rpNamingMethod")}}<strong
						>{{replace subKey "rp" ""}}:</strong
					>{{/unless}}
					<ul>
						{{#if (notEmpty subConfig.rpGenre)}}
						<li>
							<strong>{{replace "rpGenre" "rp" ""}}:</strong>
							{{subConfig.rpGenre}}
						</li>
						{{/if}} {{#if (notEmpty subConfig.rpLanguage)}}
						<li>
							<strong>{{replace "rpLanguage" "rp" ""}}:</strong>
							{{subConfig.rpLanguage}}
						</li>
						{{/if}} {{#if (notEmpty subConfig.rpGender)}}
						<li>
							<strong>{{replace "rpGender" "rp" ""}}:</strong>
							{{subConfig.rpGender}}
						</li>
						{{/if}} {{#if (notEmpty subConfig.rpNameBase)}}
						<li>
							<strong>{{replace "rpNameBase" "rp" ""}}:</strong>
							{{replace subConfig.rpNameBase "rp" ""}}
						</li>
						{{/if}} {{#if (notEmpty subConfig.rpCustomNameBase)}}
						<li>
							<strong>{{replace "rpCustomNameBase" "rp" ""}}:</strong>
							{{subConfig.rpCustomNameBase}}
						</li>
						{{/if}} {{#if (notEmpty subConfig.rpNameFormat)}}
						<li>
							<strong>{{replace "rpNameFormat" "rp" ""}}:</strong>
							{{subConfig.rpNameFormat}}
						</li>
						{{/if}}
					</ul>
					{{/each}}
				</td>
				<td>
					{{#unless (eq key "default")}}
					<button class="delete-config" data-key="{{key}}">
						{{localize "CONFIG.DELETE"}}
					</button>
					{{/unless}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</form>
